<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>FIDESIO</h1>
</div>
<table style="text-align:center">
    <thead>
        <th>Libellé</th>
        <th>Ville</th>
        <th>Code postal</th>
    </thead>
    <tbody>
        <tr *ngFor="let record of data.records">
            <td>{{record.fields.tco_libelle}}</td>
            <td>{{record.fields.ville}}</td>
            <td>{{record.fields.code_postal}}</td>
        </tr>
    </tbody>
</table>

<button (click)='previousPage()'>Previous page</button>
<button (click)='nextPage()'>Next page</button>
